*.ipr
*.iws
*.ids

.gradle/
.idea/
build/


reactApp/build
reactApp/.idea
*.css

# !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -- is a black hole >>
reactApp/node_modules
# !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

# misc
reactApp/.env
reactApp/npm-debug.log
