.App-cnt {
  display: flex;
  justify-content: space-between;
}
.main-wrapper {
  margin: 0 20px;
}
.main-header {
  background: linear-gradient(0deg, #eaeaea, #f0eff4);
  padding: 10px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #9b999e;
}
.header-item {
  padding: 0 5px;
}
